ion-content {
    --ion-background-color: #333333 !important;
}

ion-item {
    color: rgb(190, 190, 190);
  }
  
  ion-label {
    color: rgb(190, 190, 190);
  }

  ion-button {
    height: 3.7em;
    background-color: #333333;
  }