<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark">
      Equipos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let e of equipos">
    <ion-item (click)="muestraDetalles(e.id)">

      <img [src]="e.escudo">
      <h2>{{ e.name }}</h2>

    </ion-item>
    <div *ngIf="isClicked && equipos [index].id == e.id" class="detalles">
      <h2>Estadio : {{ e.estadio }}</h2>
      <h2>Ciudad : {{ e.ciudad }}</h2>
      <h2>Año de Fundación : {{ e.year }}</h2>
      <h2>Ligas Ganadas : {{ e.ligasWin }}</h2>
    </div>
    </div>

  </ion-list>

</ion-content>