<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>

    <ion-row>
    <ion-col text-center>
      <ion-icon name="key" class="key"></ion-icon>
    </ion-col>
    </ion-row>
  </ion-grid>

    <p>
      Se enviará un correo electrónico a la dirección que nos indique para que recuperes tu contraseña.
    </p>

    <ion-grid>
    <ion-row>
      <ion-col text-center>
        Correo electrónico
      </ion-col>
    </ion-row>

      <ion-row>
        <ion-item>
          <ion-input text-center clearInput class="text" [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-row>

  </ion-grid>

  
  
  <ion-button expand="block"
  class="text capitalice"
  color="success"
  shape="round"
  (click)="resetPassword()">Aceptar</ion-button>

  <ion-button expand="block"
  class="text capitalice"
  color="danger"
  shape="round"
  href="/login">Cancelar</ion-button>

</ion-content>
