<ion-menu side="end" menuId="main-menu" contentId="main">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title color="dark">Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item href="/user" *ngIf ="authService.getCurrentUser() | async">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>

      <ion-item href="/home">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>

      <ion-item href="/favoritos">
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>¡Crea tu propia liga!</ion-label>
      </ion-item>

      <ion-item href="/list">
        <ion-icon name="list" slot="start"></ion-icon>
        <ion-label>Lista Equipos</ion-label>
      </ion-item>

      <ion-item *ngIf ="authService.getCurrentUser() | async"
                (click)="logout()">
        <ion-icon  name="exit" slot="start"></ion-icon>
        <ion-label>Salir de la cuenta</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

