.image-item { object-fit: cover; width: 40vw; height: 40vw; padding-bottom: 0.4em;
    width:200px;
    height:200px;
    border-radius:160px;
    border:10px solid #666;
    text-align: center;
    margin-left: 100px;
}

ion-item {
    color: rgb(190, 190, 190);
  }