ion-content {
    --ion-background-color: #333333 !important;
}

ion-item {
    color: rgb(190, 190, 190);
  }
  
  ion-label {
    color: rgb(190, 190, 190);
  }

  .contenido ion-card-content p {
    color: rgb(190, 190, 190);
    font-size: 2.5ch;
  }