<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color="success"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="inicio-card">
      <img src="/assets/infoleaguelogo.png" alt="logo" />
      <ion-card-header>
        <ion-card-title>¡Bienvenido a InfoLeague!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aquí podrás observar los equipos de la mejor liga del mundo, La Liga Santander! Y además podrás añadir tus equipos a favoritos
           para que no pierdas tiempo en buscar la información sobre ellos.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://www.laliga.com/">
        <ion-icon slot="start" color="primary" name="globe" ios="ios-globe" md="md-globe"></ion-icon>
        <ion-label>Web oficial de LaLiga</ion-label>
      </ion-item>
      <ion-item href="https://www.google.com/search?q=clasificacion+LaLiga&oq=clasificacion+LaLiga&aqs=chrome..69i57j0l4j69i60.4351j0j7&sourceid=chrome&ie=UTF-8#sie=lg;/g/11ff1xzn64;2;/m/09gqx;st;fp;1;;">
        <ion-icon slot="start" color="primary" name="clipboard"></ion-icon>
        <ion-label>Clasificación LaLiga</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
